/* cart.module.css */

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

h2,
h3 {
  margin-bottom: 10px;
}

.content {
  display: flex;
  gap: 20px;
}

.cart_container {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart_product {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 6px 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: var(--primary-color);
}

.subtotal {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  height: fit-content;
  border-radius: 8px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtotal h3 {
  margin-bottom: 20px;
  text-align: center;
}
.checkoutBtn {
  background-color: #febd69;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}
.checkoutBtn:hover {
  background-color: #f7a600;
}

